Subject: Question on parallel testing : <%= person.project.name %>
To: <%= person.email %>

Dear <%= person.name %>,

I am part of a research group that is highly interested in
understanding how software engineers accelerate test execution.  We
analyzed a large set of projects on github (using its public API) and
noticed that the project <a href="<%= person.project.url%>">
<%= person.project.name %></a> -- which you appear as a member -- uses
the Maven Surefire plugin for testing.  Additionally, we noticed that, 
although tests take a fair amount of time to execute (>3m in our 
environment), we could not find evidence in your pom.xml
of usage of parallelization in test execution (e.g. fork jvm).

I would tremendously appreciate if you could take 2-3 minutes
(estimated time) to answer the following questionnaire.

1) How long does it take (average) for tests to run in your
environment?  Can you briefly define your setup?

2) Do you confirm that you project does *not* run tests in parallel?

3) Select a reason for no not using parallelization

 a) I did not know it was possible
 b) I was concerned with concurrency issues (e.g., interference caused by dependent tests)
 c) I have a powerful computer
 d) I only run tests sometimes
 e) I use a continuous integration server (e.g., Travis)
 f) Some other reason.  Please elaborate.

4) Would you like to be notified about our findings?  More
specifically, do you want to receive an email with a link of our
technical report?

Your participation in the survey is voluntary and all of your
responses will be kept confidential. No personally identifiable
information will be associated with your responses in reported data.

Sincerely, 
<%= me.name %>
<%= me.description %>
UFPE